<div class="marginB10"></div>
<div class="page-header">
    <h4><?php
             echo '<a href="'.$feedUrl.'" target="_blank">'. $feedUrl .'</a>';
         ?></h4>
    <p>this is the current mashup that will post in next schedule from the link above</p>
</div>

<div class="content">
    <?php 
        // pr($items);
        $html = "";
        foreach($items as $item) { 
            echo   '<h4><a href="'.$item->get_permalink().'">'.$item->get_title().'</a></h4>';
            echo  '<p style="text-align:left !important;">'.$item->get_description().'</p>';
            echo '<hr>';
       } 
    ?>
</div>
 