/* CSS Document */

body{
	background:url(images/bg-page.png) no-repeat top center #040B18;
margin:0;
text-align:left;
padding:0;
font-family: Oxygen,sans-serif !important;
font-size: 17px;
color: #373737;
}
a{
color: #999;
text-decoration:underline;
}
p{
margin:0; padding:0; line-height:24px;
}
a:hover{
text-decoration:none;
}
img{
border:0px;
}
form{
margin:0px;
padding:0px;
}
#maindiv{
width:100%;
background:url(images/bg_repeat.jpg) repeat;
background-position: center bottom;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}
#wrapper{
margin:0 auto;
width:952px;
}

.optinbox{
background:url(images/optinbg.jpg) no-repeat top;
vertical-align:top;
padding:105px 65px 22px 65px;
color:#FFFFFF;
}
.optinbox .inputtext{
height:20px;
border:none;
width:150px;
margin-left:12px;
text-align:left;
margin-top:5px;
padding:0px;
font-size:13px;
color:#666666;
}
.textd{
font-size:24px;
text-decoration:underline;
}

.footer{
width:100%;
color:#000000;
height:75px;
font-size:12px;
text-align:center;
line-height:28px;
padding-top:5px;
}
.footer a{
color:#000000;
text-decoration:underline;
}
.footer a:hover{
color:#000000;
text-decoration:none;
}
.list4 {
	margin:5px 0 0 10px!important;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
}
.list4 li {
    background: url(images/bullet4.png) no-repeat scroll 0 10px transparent !important;
	margin: 0 0 5px;
padding: 0 0 0 25px;

}
.list {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 20px;
}
.box1 {
	background-color: #EFEBCE;
    border: 1px solid #E0D9A3;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}
.box2 {
	background-color: #ADE3EF;
    border: 1px solid #58C7DE;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}
.box3 {
	background-color: #D6EBAD;
    border: 1px solid #BCDF7B;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}
.box4 {
	background-color: #EFEFFF;
    border: 1px solid #CCCCFF;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}