<div class="page-header"><h3 style="font-size: 30px;"><a href="<?php echo '/login/clients/resources'; ?>">Back To Education Page</a></h3> </div>
<div class="content">
    <?php
        //$pack = array('21' => 'SEORockstars Recordings', '22' => 'SEORockstar Recordings Downsell', '23' => 'SEORockstar Recordings OTO');
        $p = '';
        $rtype = "Videos, Notes, MindMaps and Rockstar Recipes";
        if ( $pid == 22 ) {
            $rtype = "Notes, MindMaps and Rockstar Recipes";
        }
        foreach ( $days as $year => $day ) {
            $p .= '<div style="font-size:28px; margin-bottom:20px; text-align:center; line-height:40px; font-weight:bold;border-bottom:1px solid #cccccc;">'.$year.' '.$rtype.' </div>';
            foreach ( $day as $d => $ph ) {
                $p .= '<div style="font-size:22px; line-height:40px; font-weight:bold;border-bottom:2px solid #cccccc;">Day '.$d.' Resources</div><br>';
                foreach ( $ph as $k => $v ) {

                    if ( $pid == 22  ) {
                        $ps = '<img style="margin-right:10px;" src="http://rankratio.com/login/images/archive_icon.png" alt="Preview">';
                    } else{
                        $ps = '<img style="margin-right:10px;" src="http://img.youtube.com/vi/'.$v['ytvideo_id'].'/2.jpg" alt="Preview"><img class="youtube" src="/login/images/btn14.png">';
                    }
                    $pic = '<a href="/login/clients/vresource/'.$pid.'/'.$v['id'].'">'.$ps.'</a>';

                    $descp = strip_tags($v['description']);
                    $p .= '<div><p style="position:relative"> '.$pic.' <a style="position: absolute; top:66px;font-size:17px; line-height:30px; text-decoration:underline !important;" href="/login/clients/vresource/' .$pid.'/'.$v['id'].'">'. $v['title'].'</a></p><p>'.$descp.'</p></div> <hr>';
                }
            }
        }
        echo $p;
    ?>
</div>

