<div class="content">
    <div class="form-row row-fluid">
        <div class="span1"></div>
        <div class="span11">
            <ol>
                <?php if (AuthComponent::user('id') == 2): ?>
                    <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=957b6b2270c04d04af8e74087ad3f875">$00 Extra Credit</a></li>
                <?php endif; ?>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=63e38e212c4e4296be1b3797f3dc641f">$10 Extra Credit</a></li>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=269e14d35a3748db9e366322933ba516">$25 Extra Credit</a></li>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=e2302934429546a688dad02f6cf6a135">$50 Extra Credit</a></li>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=4242e3f88de24331a71736450746e6a6">$100 Extra Credit</a></li>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=c4c0f0641a2e443d93cda6237f2d79a9">$250 Extra Credit</a></li>
                <li><a target="_blank" href="http://www.1shoppingcart.com/SecureCart/SecureCart.aspx?mid=7F7F0445-14CE-4D0A-AD57-AF078123DFE6&pid=39f442cd1d79418da397132093b360d4">$500 Extra Credit</a></li>
            </ol>
        </div>
    </div>
</div>