<div class="form-row row-fluid">
    <div class="span12">
        <form style="display: none;" id="adminproxyForm" method="post" action="http://adminproxy.seonitro.com/includes/process.php?action=update">
            <input type="text" name="u" value="<?php echo $url; ?>" />
            <input type="submit" value="Submit" />
        </form>            
        Please wait while we redirect... <img src="<?php echo BASEURL; ?>images/loaders/horizontal/053.gif" alt="" />
    </div>
</div>        
<script type="text/javascript">
    $(document).ready(function() {
        $('#horizontalLoader').show();
        document.getElementById('adminproxyForm').submit();
    });
</script>