<div class="marginB10"></div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="title">
                <h4>
                    <span>Your Manual Network Sites Application</span>
                </h4>
            </div>
            <div class="content">

            </div>
        </div><!-- End .box -->
    </div><!-- End .span6 -->
</div>
