html {height: 100%;}body {	background: #fff;	-webkit-font-smoothing: antialiased;	overflow-x:	hidden;	background: url(../images/patterns/5.png) repeat;	height: 100%;}.sidenav {width: 100%; margin-left:0;}#nav_side li.current {    background-color: #97ACFF;}.sidenav .mainnav ul.open{	display:inline-block;}.bold {  font-weight:bold;}.adminControl {	display:none;	cursor:pointer;}span.yellow{	background-color: #ff0;}span.magenta{	background-color: #f18;	color:#fff;}span.bold{	font-weight: bold;}


.submenu_tab ul{
    list-style: none;
    padding: 0;
    margin: 3px;
    float: right;
}

.submenu_tab li {
    display: inline;
    margin: 0 2px 0 0;
    padding: 5px 0;
}

.submenu_tab li a {
    padding: 0 1em;
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
    border:1px solid #dcdcdc;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    color:#3399cc;
    padding: 5px;
}
.submenu_tab li a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    color: #3399cc;
} 
.submenu_tab li a.selected {
    background: white;
    color: #3399cc;
    font-weight: bold;
    cursor:text;
}
.submenu_tab{
    border-bottom: 1px solid #DCDCDC;
    margin-top: 5px;
    margin-bottom: 1px;
    min-height: 30px;
}    
.submenu_tab1{
    margin: 0px;
    min-height: 30px;
}    
.submenu_tab1 ul li {
    float: left; list-style: none;
}
li.active a.dropdown-toggle {
    background-color: #ffffff !important;
}
a.topnavSelected{
    color:#3399CC !important;
}

.textLeft{text-align: left !important;}
.textRight{text-align: right !important; padding-right: 20px !important;}
.zeroWidth{width:0 !important; padding:0 !important; border:0 !important;}

/* Shyam */
.clear_both{clear: both;height:20px;}
.span6{width: 23%;}
.box_size{height: 130px;width:100%;}
.bg_left{margin-left:20px;}
.bg{height:20px;width:20px;float:left;margin-left:5px;}
.bg1color{background-color: #1C95C4;}
.bg2color{background-color: #F18800;}
.text{margin-left:5px;font-weight: bold;float:left;width:50%;}
.value{margin-left:-10px;float:left;width:30%;font-weight: bold;}
.last_text{text-align: left;font-weight: bold;}
[class*="span"]{margin-left: 13px;}
.optimal{text-align: left; display: block;font-weight: bold;margin-top: -26px;color:blueviolet;}

.autoclass {
    position: absolute;
}

.inline_labels label{
    display: inline-block;
    padding-top: 6px;
}

.title_text{
    color: #3399cc;
    font-weight: bold;
}
.brand{
 background-color: #56769e;
 width:170px;
}
.navbar .brand {
    padding: 0px 20px;
}