

@media(max-width:979px){ /*768*/
.wrapper{ width:90%; }
table { width:100%;}
.menu{ font-size: 14px;}
.imgdiv1{ width: auto; text-align:center;}
.imgdiv1 img{ width:100%;}
.imgdiv2{ width: auto; text-align:center;}
.imgdiv2 img{ width:auto;}
.video-top { width: 100%; text-align:center;}
.video-top iframe{ width: 100%; height: 394px;}
.vi-testimonial .video iframe{ height: 176px;}
.optin-n1{ width: auto;}
.heading img{ width:100%;}
}


@media(max-width:766px) { /*600*/
.menu a{ margin:0 0 8px; padding: 5px 10px;}
.imgdiv2 img{ width:100%;}
.testimonial .left1{ float: none; margin: auto auto 14px;}
.testimonial .right1{ float: none; width: 100%; text-align: center;}
.testimonial .right1 .arrow{ display:none;}
.testimonial .left2{ float: none; width: 100%; text-align: center; }
.testimonial .left2 .arrow{ display:none;}
.testimonial .right2{ float: none; margin: auto auto 14px;}
.vi-testimonial li{ margin: 0 6px 16px;}
.vi-testimonial h1{ min-height: 50px;}
.heading img{ width:100%;}
.video-top iframe{ height: 310px;}
.vi-testimonial .video iframe{ height: 140px;}
}

@media(min-width:480px) and (max-width:599px) { 
.wrapper{ width:89%; }
.optin-n1 .left1{ width: 100%; float: none; margin:0 0 8px;}
.optin-n1 .right1{ width: 100%; float: none; margin:0;}
.inputbx2{ text-align: center; padding:0;}
.vi-testimonial li{ margin: 0 auto 16px; width: 96%;}
.vi-testimonial h1{ min-height: inherit;}
.video-top iframe{ height: 246px;}
.vi-testimonial .video iframe{ height: 227px;}
.but input[type="image"]{ width: 100%; height:auto;}
}

@media(min-width:360px) and (max-width:479px) {
.wrapper{ width:85%; }
.optin-n1 .left1{ width: 100%; float: none; margin:0 0 8px;}
.optin-n1 .right1{ width: 100%; float: none; margin:0;}
.inputbx2{ text-align: center; padding:0;}
.vi-testimonial li{ margin: 0 auto 16px; width: auto;}
.vi-testimonial h1{ min-height: inherit;}
.but input[type="image"]{ width: 100%; height:auto;}
.video-top iframe{ height: 178px;}
.vi-testimonial .video iframe{ height: 170px;}
}

@media(min-width:320px) and (max-width:359px) { 
.wrapper{ width:84%; }
.optin-n1 .left1{ width: 100%; float: none; margin:0 0 8px;}
.optin-n1 .right1{ width: 100%; float: none; margin:0;}
.inputbx2{ text-align: center; padding:0;}
.vi-testimonial li{ margin: 0 auto 16px; width: auto;}
.vi-testimonial h1{ min-height: inherit;}
.but input[type="image"]{ width: 100%; height:auto;}
.testimonial{ word-wrap: break-word;}
.video-top iframe{ height: 154px;}
.vi-testimonial .video iframe{ height: 150px;}
}


