/* CSS Document */

body{
background:url(images/bg.jpg) repeat top center #333742;
margin:0;
padding:0;
font-family: Oxygen,sans-serif !important;
font-size: 17px;
color: #232323;
}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
a{
color: #0000FF;
text-decoration:underline;
}
p{
	line-height:21px;
	margin:0px 0 14px 0;
	padding:0px;
}
a:hover{
text-decoration:none;
}
img{
border:0px;
}
form{
margin:0px;
padding:0px;
}
#maindiv{
width:100%;
background:url(images/bg_repeat.jpg) repeat;
background-position: center bottom;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}
.top-menu{
	text-align:center;
	color: #373737!important;
	font-weight:600;
	font-size:16px;
}
.top-menu a{
	color: #373737!important;
	padding:0 10px;
	text-decoration:none;
}
.top-menu a:hover{
	color: #1058aa!important;
}
.optinbox{
background:url(images/optinbg.jpg) no-repeat top;
vertical-align:top;
padding:105px 65px 22px 65px;
color:#FFFFFF;
}
.optinbox .inputtext{
height:20px;
border:none;
width:150px;
margin-left:12px;
text-align:left;
margin-top:5px;
padding:0px;
font-size:13px;
color:#666666;
}
.textd{
font-size:24px;
text-decoration:underline;
}

.footer{
width:100%;
color:#000000;
height:75px;
font-size:12px;
text-align:center;
line-height:28px;
padding-top:5px;
}
.footer a{
color:#000000;
text-decoration:underline;
}
.footer a:hover{
color:#000000;
text-decoration:none;
}
.list4 {
	font-size:18px;
	font-style:italic;
}
.list4 li {
    background: url(images/bullet4.png) no-repeat scroll 0 10px transparent !important;
	margin: 0 0 5px;
padding: 0 0 0 25px;

}
.list5 {
	font-size:18px;
	font-style:italic;
}
.list5 li {
    background: url("images/tick.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0) !important;
    margin: 0 0 12px;
    padding: 0 0 0 40px;
}
.list {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0px;
}
.box1n {
	margin:0px auto;
	border-radius:25px;
	font-size:17px!important;
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;border-radius:25px; 
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
	border:10px solid #113148;
    -khtml-border-radius: 25px;
	border:10px solid #FDE9A2;
    -khtml-border-radius: 25px;
	background-color:#fff;
	line-height:28px;
	padding:15px;
}
.box3 {
	background-color: #D6EBAD;
    border: 1px solid #BCDF7B;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}
.box4 {
	background-color: #EFEFFF;
    border: 1px solid #CCCCFF;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
	font-size:15px;
    position: relative;
    width: 700px;
}
.wrapper {
	margin:0px auto;
		border-radius:20px; 
	    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	border:10px solid #51586a;
    -khtml-border-radius: 20px;
	background-color:#FFF;
	width:750px;
	padding:15px;
}
.box1 {margin:0 -15px; font-size:16px; line-height:22px; background-color:#f9f9f9; padding:15px 22px;}
.box1 h1{ color:#b02b2c; font-size: 20px;}
.box1 h1 span{ color: #373737; font-size:17px; font-weight:400;}

.optin {
	background:url(images/optin_bg.png) no-repeat;
	margin:0 auto;
	width:543px;
	height:170px;
	padding-top:128px;
}
.optinbox{
background:url(images/optin_bg.png) no-repeat top;
vertical-align:top;
padding:105px 65px 22px 65px;
color:#FFFFFF;
}
.optinbox .inputtext{
height:20px;
border:none;
width:150px;
margin-left:12px;
text-align:left;
margin-top:5px;
padding:0px;
font-size:13px;
color:#666666;
}
.inputbx1 {
    border: 0 none;
    font-size: 16px;
    height: 30px;
    margin: 10px 0 30px 10px;
    padding: 0;
    width: 200px;
}
.inputbx2 {
    border: solid 4px #d4e1e9; border-radius: 10px;
    font-size: 16px;
    height: 36px;
    margin:0;
    padding: 0 0 0 6px;
    width:90%;
}
h1 {
	margin:0 0 0 0;
	padding:0px;
	line-height:normal;
	font-size:26px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:#008C00
}
h2 {
	margin:0px;
	padding:0px;
	letter-spacing:-1px;
	line-height:normal;
	font-size:38px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#B02B2C;
}
h3 {
	margin:0px;
	padding:0px;
	letter-spacing:-1px;
	line-height:normal;
	font-size:38px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#3F4C6B;
}
h4 {
	margin:0px;
	padding:0px;
	letter-spacing:-1px;
	line-height:normal;
	font-size:38px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#D15600;
}
.head1 {
	margin:0 0 10px 0;
	padding:0px;
	line-height:normal;
	font-size:26px;
	font-weight:bold;
	color:#B02B2C
}
.head2 {
	margin:0 0 10px 0;
	padding:0px;
	line-height:normal;
	font-size:26px;
	font-weight:bold;
	color:#D15600
}
.head3 {
	margin:0 0 10px 0;
	padding:0px;
	line-height:normal;
	font-size:26px;
	font-weight:bold;
	color:#3F4C6B
}
.menu {
	background-color:#17191e;
	width:100%;
	padding:16px 0;
	font-size:16px;
	/*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;*/
	text-align:center;
	font-weight:bold;
	margin:0px auto 10px;
	color:#FFF;
}
.menu a{ display:inline-block; margin: 0 8px;}
.menu a,a:active, a:visited{
	color:#FFF;
	max-width:300px!important;
	background-color:#00a885;
	padding:5px 20px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	text-decoration:none;
}
.menu a:hover{
	color:#FFF;
	text-decoration:underline;
}

.optin1 {
	background:url(images/optin_bg.png) no-repeat;
	margin:0 auto;
	width:543px;
	height:200px;
	padding-top:80px;
}
.box1n {
    background-color: #fef3cb;
    border: 10px solid #fde9a2;
    border-radius: 25px;
    font-size: 17px !important;
    line-height: 28px;
    margin: 0 auto;
    padding: 15px;
}
.checkbox {
	font-size:14px; margin:10px 0 -10px 0; color:#FFF; display:none;
}
.spes1{ height:4px; background:url(images/spes-bg.png) repeat-x; margin:20px 0;}

.optin-n1 { width:680px; margin:auto auto 20px; background:#026a04; padding:15px 10px 14px; border-radius: 14px; text-align:center;
 border:dashed 8px #014503; box-shadow: 0 0 10px #babab9;}
.optin-n1 h1{ font-family: "Oswald",sans-serif; color:#fcf134; font-size:48px; line-height:55px; letter-spacing:1px; text-shadow:2px 2px 2px #115477; font-weight:800; text-transform:uppercase;}
.optin-n1 h2{ font-family: 'Open Sans', sans-serif; font-weight:400; font-style: italic; font-size:28px; color:#fcf134; text-shadow:2px 2px 2px #115477;}
.optin-n1 h3{ font-family: "Oswald",sans-serif; color:#e4e9ee; font-size:30px; line-height:30px; text-shadow:1px 1px 1px #115477; font-weight:300; 
letter-spacing:.5px; margin:15px 0 18px 0;}
.optin-n1 .left1{ float:left; width:48%; margin-left:10px;}
.optin-n1 .right1{ float:right; width:48%; margin-right:10px;}
.optin-n1 .but{ margin:22px 0 10px; text-align:center;}
.optin-n1 div.t1{ text-shadow:1px 1px 2px #000; color:#e4e9ee; font-size:14px; line-height:18px;}

.testimonial{ margin:0 0 20px;}
.testimonial span{ font-weight:800; font-size:24px; color:#a8a8a8;}
.testimonial .left1{ float:left; width:166px;}
.testimonial .left1 img{ width:166px; height:166px; border-radius: 50%;}
.testimonial .right1{ float: right; width:72%; position:relative;}
.testimonial .right1 .arrow{ position:absolute; top:20px; left:-22px}
.testimonial .right1 div.con1{ background:#e8eced; border-radius: 10px; padding:16px 30px; box-shadow:0 2px 2px -2px #484747}
.testimonial .right1 p.t1{ font-weight:600; margin-top:10px;}


.testimonial .left2{ float:left ; width:72%; position:relative;}
.testimonial .left2 .arrow{ position:absolute; top:20px; right:-22px}
.testimonial .left2 div.con1{ background:#e8eced; border-radius: 10px; padding:16px 30px; box-shadow:0 2px 2px -2px #484747}
.testimonial .left2 p.t1{ font-weight:600; margin-top:10px;}
.testimonial .right2{ float:right; width:166px;}
.testimonial .right2 img{ width:166px; height:166px; border-radius: 50%;}

.vi-testimonial{ margin:0 0 20px; text-align:center; }
.vi-testimonial h1{ font-family: "Oswald",sans-serif; color:#111; font-size:20px; line-height:24px; background:#ccc; font-weight:400; padding-bottom:10px;}
.vi-testimonial ul{ padding:0; margin:0; list-style-type:none;}
.vi-testimonial li{ padding:0; margin:0 10px 16px; width:44%; display:inline-block; border:solid 8px #ccc;}
.vi-testimonial .video{ width:100%;}
.vi-testimonial .video iframe{ width:100%;}

.heading{ text-align:center; background:#ecfbff; margin:0 -13px 20px; padding:20px 0;}

h1.text1{ text-align:center; font-weight:800; color:#292b28;}
.video-top { text-align:center;}
.imgdiv1{ text-align:center;}
.imgdiv2{ text-align:center;}



