<div class="heading">
	<h3>Add New Campaign</h3>
</div><!-- End .heading-->
<div class="marginB10"></div>
<?php echo $this->Session->flash(); ?>
<div class="page-header">
	<h4>Enter New Campaing Data</h4>
	<p>To create a new campaign please enter your campaing name, root domain then enter anchor text and targated percentage. <span class="yellow"> Each Keyword field can take multiple keywords (comma seperated).</span> if multiple are given, the target percentate will be distributed sequentially. To add more keyword click on the "+ Add More" link at bottom of the form. </p>

</div>
<div class="content">
	<?php   echo $this->Form->create(null, array('url' => array('controller' => 'sadmins', 'action' => 'addcampaign'), 'id'=>'addCampaignForm','method'=>'post'));?>

	<div class="form-row row-fluid">
		<div class="span6">
			<div class="row-fluid">
				<label class="form-label span6" for="normal">Name Of the Campaign *</label>
				<?php echo $this->Form->input('Campaign.campignname',array('type'=>'text', 'required'=>false,  'title'=>'Name Of the Campaign', 'div'=>false,'label'=>false,'class'=>'span6' )); ?>


			</div>
		</div>
	</div>

	<div class="marginB10" style="border-bottom: 1px solid #eee;"></div>
	<div id="settingContainer">
		<table cellpadding="4" cellspacing="6">
			<thead>
				<tr>
					<th class="span1" style="width: 105px;color:#f34;">
					   <input type="text" name="data[Campaign][tPercentage]" value="0" id="totalPercentageAdded" style="width:1px;height:1px;visibility:hidden;">
						Target  (<span class="yellow bold" id="totalPercentageAddedShow">0</span>) %

					</th>
					<th>Anchors <span class="help-block-inline"> comma(,) seperated</span></th>
					<th>Urls <span class="help-block-inline"> comma(,) seperated and sequential to left anchor text</span></th>
				</tr>
			</thead>
			<tbody id="campInputRows">
				<tr id="1">
					<td valign="top" align="center" class="span1">
						<?php echo $this->Form->input('Campaign.settings.1.targetDensity',array('type'=>'number', 'required'=>false,  'title'=>'Percentage value. max 100', 'div'=>false,'label'=>false,'class'=>'span1 Percentage','maxlength'=>3,  'style' => 'width:32px !important;' )); ?>
					</td>
					<td valign="top">
						<?php echo $this->Form->textarea('Campaign.settings.1.anchortexts',array('type'=>'text', 'title'=>'enter anchortexts', 'div'=>false,'label'=>false, 'class'=>'span4 anchorText', 'style' => 'height:22px; min-height:22px' )); ?>
					</td>
					<td valign="top">
						<?php echo $this->Form->textarea('Campaign.settings.1.internalPageUrl',array('type'=>'text','title'=>'enter urls  for anchors', 'div'=>false,'label'=>false, 'class'=>'span5 anchorUrls', 'style' => 'height:22px; min-height:22px'  )); ?>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="form-row row-fluid">
		<div class="spa6">
			<div class="row-fluid">
				<button class="btn btn-link btn-large" type="button" id="addMoreBtn">+ Add More</button>
			</div>
		</div>
	</div>
	<div class="marginB10" style="border-bottom: 1px solid #eee;"></div>
	<div class="form-actions">
		<button class="btn btn-info send-middle" type="submit">Add New Campaign</button>
	</div>
	<?php echo $this->Form->end(); ?>
</div>


<div class="marginB10"></div>

<script type="text/javascript">
	// document ready function
	$(document).ready(function() {
		$("#addMoreBtn").live('click',function(){
			$rows = $("#campInputRows");
			$rowsId =  parseInt($rows.find('tr:last').attr('id'));
			$rows.find('tr:last').clone().insertAfter($rows.find('tr:last'));
			$justInserted = $rows.find('tr:last');
			$justInserted.hide();
			$nId =  $rowsId + 1;
			$justInserted.attr('id',$nId);
			$justInserted.find('input,textarea').each(function(i,e){
				$(e).attr('id', $(e).attr('id') + $nId );
				$(e).attr('name',  $(e).attr('name').replace('['+$rowsId+']', '[' + $nId + ']') );
				// make it required. Tell validation plugin to validate it
				$(e).rules('add', {'required': true});
			});

			$justInserted.find('input,textarea').val(''); // it may copy values from first one
			$justInserted.slideDown(500);
		});

		$(".Percentage").live('keyup',function(e){
		 	 eVal = 0;
			_this = $(this);
			$(".Percentage").each(function(im,em){
				$(this).val( parseInt($(this).val()) || 0 );
				eVal += parseInt($(this).val()) || 0;
				l = $(this).val().length;
				if ( (eVal > 100)  ) {
                    $vv = $(this).val();
					$val = $(this).val().substring( 0, l-1 );
					$(this).val(  $val );
					eVal = eVal - $vv +  (parseInt($val) || 0);
					$('#totalPercentageAddedShow').parent().delay(100).fadeTo(100,0.5).delay(100).fadeTo(100,1).delay(100).fadeTo(100,0.5).delay(100).fadeTo(100,1).delay(100).fadeTo(100,0.5).delay(100).fadeTo(100,1);
				}
			});
			if ( eVal == 100 ) {
				$('#totalPercentageAddedShow').parent().css({color:'#31BE26'});
			}else{
				$('#totalPercentageAddedShow').parent().css({color:'#f34'});
			}
			//alert(eVal)
			$("#totalPercentageAdded").val(eVal);
			$("#totalPercentageAddedShow").html(eVal);

		});



		$("input, textarea, select").not('.nostyle').uniform();

		/*$.validator.addMethod(
		"atLeastOneAnchorText",
		function(value, element) {
		//alert($(element).val().length);
		return ($(element).val().length < 4) ? false : true;
		},
		"Please insert at least one anchor text with minimum 4 chars long"
		);*/


		$("#addCampaignForm").validate({
			rules: {
				'data[Campaign][campignname]': {
					required: true,
					minlength: 4
				},
				'data[Campaign][tPercentage]': {
					required: true,
					min:100,
				},

			},
			messages: {
				'data[Campaign][campignname]': {
					required: "Please enter a Campaign Name",
					minlength: "Enter Minimum Length"
				},
				'data[Campaign][tPercentage]': {
					min: "Total Percentage Should equal to 100"
				},
				/*'data[Campaign][settings][1][anchortexts]': {
				atLeastOneAnchorText: "Please insert at least one anchor text with minimum 4 chars long"
				}*/
			}

		});

		$(".Percentage,.anchorText,.anchorUrls").each(function (item) {
			$(this).rules("add", {
				required: true,
			});
		});

		/*$(".Percentage").each(function (item) {
		$(this).rules("add", {
		range: {
		range: [1, 100]
		},
		});
		});*/





	});


</script>